@import "_common-style";

.conteiner {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 40px;

    @media screen and (max-width: 500px) {
        padding: 0 20px;
    }
}

// ------------------------------------------first-screen------------------------------------------
.first-screen {
    width: 100%;
    min-height: 100vh;
    padding: 55px 0;

    @media screen and (max-width: 1000px) {
        padding: 20px 0;
    }

    &__body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    &__link {}

    &__img {
        width: 179px;
        height: 50px;
    }
}

.menu-desktop {

    @media screen and (max-width: 1000px) {
        display: none;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {}

    &__link {
        font-family: Nunito;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0.015em;
        color: #bab8b8;
        padding-right: 66px;

        @media screen and (max-width: 1050px) {
            padding-right: 35px;
        }
    }

    &__item:last-child {
        padding-right: 47px;
    }

    &__active {
        color: #4497f3;
    }

    &__button {
        cursor: pointer;
        display: inline-block;
        font-family: NunitoSans;
        padding: 19px 47px;
        font-weight: 600;
        letter-spacing: 0.01em;
        color: #3984f3;
        border: 3px solid #3984f3;
    }
}

.menu-mobile {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background-color: rgb(217, 230, 247);
    transition: .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__active {
        opacity: 1;
    }

    &__list {
        text-align: center;
    }

    &__link {
        font-family: Nunito;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0.015em;
        color: #fffefe;       
    }

    &__item {
        padding-bottom: 30px;
    }

    &__button {
        cursor: pointer;
        display: inline-block;
        font-family: NunitoSans;
        padding: 19px 47px;
        font-weight: 600;
        letter-spacing: 0.01em;
        color: #3984f3;
        border: 3px solid #3984f3;
    }
}

.burger {
    height: 30px;
    width: 40px;
    display: none;
    position: relative;
    z-index: 2000;
    cursor: pointer;

    @media screen and (max-width: 1000px) {
        display: block;
    }

    &__line {
        position: absolute;
        display: block;
        width: 40px;
        height: 5px;
        background-color: $primary-color;
    }

    &__line-one {
        top: 0;
        transition: .5s;
    }

    &__line-two {
        top: 50%;
        transform: translateY(-50%);
        transition: .5s;
    }

    &__line-three {
        bottom: 0;
        transition: .5s;
    }

    &__one-active {
        top: 36%;
        transform: rotate(45deg);
        border-radius: 20px;
    }

    &__two-active {
        background-color: rgba(255, 255, 255, 0);
        transform: translateX(-100%);
    }

    &__three-active {
        bottom: 50%;
        transform: rotate(-45deg);
        border-radius: 20px;
    }
}